In [23]:
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder

In [24]:
data = pd.read_csv('df.csv',index_col= False)

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21287 entries, 0 to 21286
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              21287 non-null  int64
 1   enrollee_id             21287 non-null  int64
 2   city                    21287 non-null  object
 3   city_development_index  21287 non-null  float64
 4   gender                  16271 non-null  object
 5   relevent_experience     21287 non-null  object
 6   enrolled_university     20870 non-null  object
 7   education_level         20775 non-null  object
 8   major_discipline        18162 non-null  object
 9   experience              21217 non-null  object
 10  company_size            14727 non-null  object
 11  company_type            14513 non-null  object
 12  last_new_job            20824 non-null  object
 13  training_hours          21287 non-null  int64
 14  target                  19158 non-null  float64
dtypes: float64(2), int64(3), object(10)
memory usage: 2.4+ MB

In [26]:
data_num = data.select_dtypes(exclude = ['object'])
data_cat = data.select_dtypes(['object'])

In [27]:
data_num.isnull().sum()

Unnamed: 0                   0
enrollee_id                  0
city_development_index       0
training_hours               0
target                    2129
dtype: int64

In [28]:
data_cat.isnull().sum()

city                      0
gender                 5016
relevent_experience       0
enrolled_university     417
education_level         512
major_discipline       3125
experience               70
company_size           6560
company_type           6774
last_new_job            463
dtype: int64

In [29]:
Label_ecoder = LabelEncoder()
label_data_cat = data_cat.copy()

In [46]:
cat_cols = list([data_cat.columns])
for i in cat_cols:
    label_data_cat[i] = Label_ecoder.fit_transform(i)

In [47]:
label_data_cat

,city,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job
0,0,6,9,4,3,8,5,1,2,7
1,0,6,9,4,3,8,5,1,2,7
2,0,6,9,4,3,8,5,1,2,7
3,0,6,9,4,3,8,5,1,2,7
4,0,6,9,4,3,8,5,1,2,7
...,...,...,...,...,...,...,...,...,...,...
21282,0,6,9,4,3,8,5,1,2,7
21283,0,6,9,4,3,8,5,1,2,7
21284,0,6,9,4,3,8,5,1,2,7
21285,0,6,9,4,3,8,5,1,2,7
21286,0,6,9,4,3,8,5,1,2,7